/*************************************************************************
 * Your custom CSS file
 *************************************************************************/

.custom-dropdown {
  width: 240px;
}

.custom-textbox {
  width: 240px;
}

#dialog-1,
#dialog-2,
#dialog-3,
#dialog-4,
#share-dialog {
  display: none;
}

#share-url {
  width: 100%;
  -webkit-touch-callout: default !important;
  -webkit-user-select: text !important;
  -khtml-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}

#share-url-copy-prompt {
  display: none;
  color: #007bff;
}

input {
  background: linear-gradient(to right, #005BB9 0%, #005BB9 50%, grey 50%, grey 100%);
  border: solid 1px grey;
  border-radius: 8px;
  height: 10px;
  width: 356px;
  outline: none; 
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  margin-bottom: 25px;
  opacity: 0.7;
}

input[type="range"]:hover {
  /* Change the opacity when the slider is hovered */
  opacity: 1;
}


input::-webkit-slider-thumb {
  background-color: #005BB9;
  border-radius: 0;
      
  height: 25px;
  width: 25px;
  border-radius: 50%;
  -webkit-appearance: none;
}
